*.swp
*.swo
*.err
*.err0
*.out
*.csv
*.nhv
*.2nhv


CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake


.RData
.Rhistory


debug
main


obj/
output/
irace/


